<style>
    a{
        text-decoration: none;
        color: black;
    }
</style>
<footer>
    <div class="f-info">
        <div class="f-info-social">
            <a href="https://github.com/BlackRabbitHere"><i class="fa-brands fa-github"></i></a>
            <a href="https://www.instagram.com/kshitij_kumar___/"><i class="fa-brands fa-square-instagram"></i></a>
            <a href="https://www.linkedin.com/in/kshitijkumar-/"><i class="fa-brands fa-linkedin"></i></a>
        </div>
        <div class="f-info-brand">&copy;WanderLust Private Limited</div>
        <div class="f-info-links">
            <a href="https://github.com/BlackRabbitHere/WanderLust/blob/main/README.md">Privacy</a>
            <a href="https://github.com/BlackRabbitHere/WanderLust/blob/main/README.md">Terms</a>
        </div>
    </div>
</footer>
