<% layout("/layouts/boilerplate")%>

<div class="row mt-3">
    <h1 class="col-6 offset-3">Signup for Wanderlust</h1>
    <div class="col-6 offset-3">
    <form action="/user/signup" class="needs-validation" method="post" novalidate>
            <div class="mb-3">
                <label for="username" class="form-label">Username</label>
                <input type="text" id="username" name="username" class="form-control" required>
                <div class="valid-feedback">Username Looks Good</div>
                <div class="invalid-feedback">Please enter a Username</div>
            </div>
            <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input type="email" id="email" name="email" class="form-control" required>
                <div class="valid-feedback">Email Looks Good</div>
                <div class="invalid-feedback">Please enter a Email</div>
            </div>
            <div class="mb-3 position-relative">
                    <label for="password" class="form-label">password</label>
                    <input type="password" id="password" name="password" class="form-control" required>
                    <span class="password-toggle" onclick="togglePassword()">
                        <i class="fas fa-eye" id="eye-icon"></i>
                    </span>
                    <div class="valid-feedback">password Looks Strong</div>
                    <div class="invalid-feedback">Please enter a password</div>
            </div>
                <button class="btn btn-success">Signup</button>
        </form>
    </div>
</div>
